body {
  margin: 0 auto;
  text-align: center;
  background-color: #d8e3e7;
}

.top-container {
  position: relative;
  padding: 0px;
  background-color: #51c4d3;
}

.laptop {
  position: absolute;
  right: 0.5%;
  width: 20%;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Dancing Script", cursive;
  font-size: 3.625rem;
  position: relative;
  color: #126e82;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: #126e82;
  font-weight: normal;
}

.h2-intro {
  position: relative;
  font-size: 1.5rem;
}

.mountain {
  height: 100%;
  width: auto;
}

.bottom-cloud {
  position: absolute;
  left: 10%;
}

.skill-row {
  width: 50%;
  text-align: left;
  margin: 50px auto 50px auto;
  line-height: 2;
}
.profile {
  display: inline;
  border-radius: 50%;
  width: 20%;
}

h3 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #126e82;
}

p {
  margin-bottom: 30px;
  padding-bottom: 15px;
  font-family: "Roboto", sans-serif;
  display: block;
}
.background,
.computer,
.pharmacia,
.hobbies {
  width: 15%;
  float: left;
  margin: 20px;
  padding-right: 2px;
}
.languages,
.project-manager,
.projects {
  width: 15%;
  float: right;
  margin: 20px;
  padding-left: 2px;
}

.bottom-container {
  margin: 0;
  padding-top: 20px;
  background-color: #d8e3e7;
}

.contact-me {
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: #51c4d3;
}

.p-bottom {
  margin-bottom: 0;
  padding-bottom: 20px;
}

.footer-link {
  color: #126e82;
}
.icons {
  font-size: 0.75rem;
  color: #126e82;
}
.btn {
  color: #126e82;
}
span {
  color: black;
}
